$background-color: white;
$ad-coloumn-bg-color: lightgray;
$main-content-highlight-color: #8c0404;
$main-width: 1050px;
$small-font-size: 12px;

* {
    //makes it so that padding is accounted for when calculating div size
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 200;
    //Playfair Display will be the main font and Times New Roman is the fallback
    font-family: 'Playfair Display', 'Times New Roman';
    overflow-y: auto;
}

.disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0px 5px;
    margin: 0px;
    position: sticky;
    top: 0;
    max-width: 100%;
    height: 30px;
    background-color: black;
    color: white;

    a, a:visited {
        color: white;
    }
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100vh; /*100vh means 100% of viewport height*/
    background-color: $ad-coloumn-bg-color;
    width: 100%;


    #main-column {
        display: flex;
        flex-direction: column;
        max-width: $main-width;
        margin: 0px;
        border: 0px;
        padding: 15px;
        background-color: $background-color;
    
        header {
            position: sticky;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //FIXME there is literally one pixel too much when the page scrolls down
            top: 30px;
            height: 100px;
            max-width: 100%;
            background-color: white;
            color: black;
        
            #account-button {display: none;}

            #subscribe-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30%;
                font-size: 12px;

                h3 {
                    font-size: 20px;
                    margin: 0px 0px 6px 0px;
                }
                p {
                    margin: 0px 0px 10px 0px;
                }

                //FIXME justify content center doesn't work on github pages
                #subscribe-button {
                    display: flex;
                    justify-content: center;
                    padding: 10px 20px;
                    width: 70%;
                    background-color: #8e0000;
                    color: white;
                    text-decoration: none;
                }

                #subscribe-button:hover {
                    background-color: #5c0000;
                }
            }

            #logo-link {
                display: flex;
                justify-content: flex-end;
                max-width: 35%;
                height: auto;
                padding-left: 10px;
                padding-right: 10px;
            
                #header-logo {
                    max-height: 100%;
                    height: auto;
                    display: block;
                    padding: 5px;
                }
            }

            #navbar {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
                list-style-type: none;
                font-size: 12px;
                max-width: 40%;
                margin: 0px;
                padding: 0px;

                    li {
                        padding: 5px;

                        a {
                            text-decoration: none;
                            color: gray;
                    }
                }

                #open-menu-button {
                    img:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        /*TODO this div doesn't display on mobile*/
        #header-director-and-update {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            width: 100%;

            h6 {
                margin: 0px;
                padding: 10px 0px;
                color: #00000066;
            }
        }

        #home-before-content {
            display: flex;
            justify-content: space-between;
            padding: 0px;
            margin: 0px;

            .daily-topics {
                display: flex;
                flex: 1;
                flex-flow: row;
                max-width: 80%;

                h6 {
                    color: #00000066;
                }

                .item-daily-topics {
                    flex: 1;
                    font-family: 'Roboto';
                    overflow-x: scroll;
                    //hides the scrollbar for edge, firefox and ie
                    -ms-overflow-style: none;
                    scrollbar-width: none;
                }
            }

            .daily-topics::-webkit-scrollbar {
                 display: none; 
            }

            .item-daily-topics, .social-links {
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: space-around;
                list-style-type: none;

                li {
                    margin: 5px;
                    
                    a {
                        color: black;
                        text-decoration: none;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        

        #main-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            #FQExtra{
                max-width: 100%;

                #FQExtra-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 10px;
                    padding: 15px;
                    background-color: red;
                    color: white;
                    max-height: 20px;
                    font-size: 18px;
                    font-family: 'Roboto';

                        h4{
                            margin: 0px;
                            padding: 5px;
                            font-weight: normal;

                            a  {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }

                #FQExtra-carousel {
                    //TODO add a custom scrollbar, especially making it hidden when the user isn't scrolling
                    display: flex;
                    flex-direction: row;
                    background-color: #413d3b;
                    overflow-x: scroll;
                    scroll-snap-type: x mandatory;
                    scroll-padding: 10px;
                    padding-right: 15px;

                    .FQExtra-article {
                        //articles overlap when shrinking to small widths
                        display: flex;
                        flex-direction: row;
                        scroll-snap-align: start;
                        flex: 1;
                        min-width: 50%;
                        text-decoration: none;
                        font-family: 'Roboto';
                        padding: 10px;
                        
                        .FQExtra-article-text {
                            padding: 15px 30px;
                            padding-right: 0px;
                            
                            .FQExtra-article-topic {
                                color: red;
                                margin: 15px 0px;
                            }

                            .FQExtra-article-title {
                                color: white;
                                margin: 15px 0px;
                            }
                        }
                    }
                }
            }
            .article {
                display: flex;
                align-items: normal;
                flex-direction: column;
                width: 65%;
                height: auto;
                border-right: 2px #f2f2f2;
                border-right-style: solid;
                padding: 0px 15px;
                margin: 15px 0px;

                .article-title {
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 32px;
                }
                .article-title:hover {
                    text-decoration: underline;
                }

                .rest-of-article-wrapper {
                    display: flex;
                    padding: 10px 0px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    a:hover {
                        text-decoration: underline;
                    }

                    .article-thumbnail {
                        width: 50%;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .rest-of-article-text {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        padding: 0px 10px;                        

                        .article-info-wrapper {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                color: $ad-coloumn-bg-color;
                                margin-top: 0px;
                            }
                            
                            .article-author:hover {
                                text-decoration-color: $ad-coloumn-bg-color;
                            }

                        }

                        .related-article {
                            padding: 5px;
                            font-family: 'Roboto';
                            font-weight: 500;
                        }
                    }
                }
            }

            .fullrow-article {
                width: 100%;

                .article {
                    width: 100%;
                    border: 0px;

                    .article-title {
                        font-size: 42px;
                    }

                    .article-excerpt {
                        font-size: 18px;
                        color: black;
                        p {
                            margin-top: 0px;
                        }
                    }

                    .article-thumbnail {
                        width: 65%;
                    }

                    .rest-of-article-text {
                        width: 30%;
                    }
                }
            }

            .article-with-video {
                display: flex;
                flex-direction: column;
                width: 30%;
                margin: 10px;
                background-color: $ad-coloumn-bg-color;

                a {
                    width: 100%;
                    text-decoration: none;
                    color: black;
                }

                a:hover {
                    text-decoration: underline;
                }

                p, h3 {
                    padding: 0px 10px;
                }

                p {
                    color: #8e0000;
                }

                img {
                    width: 100%;
                }
            }

            .small-article {
                display: flex;
                flex-direction: row;
                width: 33%;

                .article {
                    width: 100%;

                    .article-thumbnail {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }

                    .article-topic {
                        color: #8e0000;
                        text-decoration: none;
                    }
                    .article-topic:hover {
                        text-decoration: underline;
                    }

                    .article-title {
                        font-size: 20px;
                    }

                    .rest-of-article-text {
                        width: 100%;
                        padding: 0px;
                        
                        .article-info-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                        }
                    }
                }
            }
        }        
    }

    #menu-panel {
        display: none;
        //flexbox properties even if display isn't flex because it'll become so once visible
        flex-direction: column;
        justify-content: space-between;
        background-color: black;
        width: $main-width;
        max-height: 100vh;
        padding: 15px;
        overflow-y: auto;
        color: white;
        font-family: 'Roboto';
        font-size: 12px;

        #menu-header {
            display: flex;
            justify-content: flex-end;

            #close-menu-icon {
                //filter is used to change the color of the svg image
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(105%) contrast(104%);
                padding: 20px 0px;
            }

            #close-menu-icon:hover {
                cursor: pointer;
            }

            #menu-search-icon {
                //search icon only shows up for small width devices
                display: none;
            }
        }
        #home-link-menu {
            text-decoration: none;
            color: white;
            padding-left: 0px;
        }
        #menu-panel-col-wrapper {
            display: flex;
            flex-direction: row;
            column-gap: 15%;

            .menu-panel-col {
                list-style-type: none;
                padding-left: 0px;

                li {
                    padding: 15px 0px;

                    #sezioni-open-button {display:none;}

                    a {
                        padding: 0px;
                        text-decoration: none;
                        color: white;
                    }

                    .menu-topic {
                        //color taken directly from inspect element
                        color: hsla(0,0%,100%,.7);
                    }
                    
                    .menu-topic:hover {
                        color: hsla(0, 0%, 100%, 0.4);
                    }
                }
            }
        }

        #menu-footer {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            bottom: 0;

            #menu-footer-links {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                list-style-type: none;
                border-bottom: 1.5px lightgray;
                border-bottom-style: solid;
                margin: 0px;
                padding: 15px 2px;
    
                li {
                    a {
                        color: hsla(0, 0%, 100%, 0.4);
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: 600;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    a:hover {
                        color: hsla(0, 0%, 100%, 0.25);
                    }
                }
            }

            #menu-footer-social {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                list-style-type: none;
                margin: 0px;
                padding: 15px 0px;
                width: 70%;
    
                li {
                    a {
                        text-decoration: none;
                        padding: 0px 30px 0px 0px;
                        img {
                            //filter is used to change the color of the svg image
                            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(105%) contrast(104%);
                        }
                    }
                }
            }

            #menu-subscribe-button {
                display:flex;
                align-items: center;
                justify-content: flex-end;
                //pushes the div to the right
                margin-left: auto;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;

                h5 {
                    font-size: 14px;
                    color: white;
                    margin: 0px;

                }
            }
        }
    }
}
footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;

    #footer-content {
        width: $main-width;
        padding: 15px;
        background-color: #191919;

        #footer-logo {
            display: flex;
            justify-content: center;
            border-bottom: 1.5px lightgray;
            border-bottom-style: solid;
            margin: 0px;
            padding-bottom: 15px;
        }

        #footer-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            border-bottom: 1.5px lightgray;
            border-bottom-style: solid;
            margin: 0px;
            padding: 15px;

            li {
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                }
                a:hover {
                    color: hsla(0,0%,100%,.7);
                }
            }
        }

        #footer-social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            border-bottom: 1.5px lightgray;
            border-bottom-style: solid;
            margin: 0px;
            padding: 15px;

            li {
                a {
                    text-decoration: none;
                    padding: 15px;
                    img {
                        //filter is used to change the color of the svg image
                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(105%) contrast(104%);
                    }
                }
            }
        }

        #footer-copyright {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            p {
                color: #FFFFFF66;
                font-size: 12px;
            }
        }
    }
}

//IMPORTANT! Make media quearies with as nested as the rest of the scss code or else it won't have enough priority to apply the proper properties
@media (max-width: 1150px) {
    main {
        //FIXME suscribe box overflows when under 900px of width more or less
        #main-column, #menu-panel {
            max-width: 100%;
            flex-direction: column;
        }

        #main-column {
            .article, .article-with-video, .small-article {
                max-width: 100%;
            }
        }
    }
    footer{
        #footer-content{
            width: 100%;
        }
    }
}

//IMPORTANT! Make media quearies with as nested as the rest of the scss code or else it won't have enough priority to apply the proper properties
@media (max-width: 750px) {
    //FIXME make disclaimer readable.
    .disclaimer{font-size: 12px;}
    main {
        #main-column, #menu-panel {
            max-width: 100%;
        }

        #main-column {
            header {
                //added !important to avoid creating conflicts with headerShrink.js
                max-height: 60px !important;
                flex-direction: row-reverse;
                
                #account-button {
                    display: block;
                    padding: 20px;
                    padding-right: 0px;
                }

                #subscribe-box {
                    //added !important to avoid creating conflicts with headerShrink.js
                    h3 {display: none !important;}
                    p {display:none !important;}
                    align-items: center;
                }

                #logo-link {
                    #header-logo{
                        object-fit: contain;
                        max-width: 100%;
                    }
                }

                #navbar {
                    align-items: center;
                    li {
                        display: none;
                    }
                    #open-menu-button {
                        display: block;
                    }
                }

            }

            #header-director-and-update {
                display: none;
            }

            #home-before-content {
                flex-direction: column;
                
                .daily-topics {
                    flex-direction: column;
                    max-width: 100%;
                    .item-daily-topics {
                        justify-content: flex-start;
                        padding: 0px;
                        width: 100%;
                        li {
                            margin: 0px;
                            margin-right: 15px;
                            min-width: 20%;
                        }
                    }
                }

                .social-links {
                    justify-content: flex-start;
                    padding: 0px;
                    li {
                        margin-right: 0px;
                        padding-right: 20px;
                    }
                }
            }

            #main-content{
                flex-direction: column;

                #FQExtra {
                    #FQExtra-header {
                        h4{
                            span {display:none;}
                        }
                    }
                    #FQExtra-carousel {
                        .FQExtra-article {
                            min-width: 100%;
                            padding: 0px 15px;
                            .FQExtra-article-text {padding: 0px 30px;}
                        }
                    }
                }
                .article, .article-with-video, .small-article {
                    width: 100%;
                }

                .article {
                    flex-direction: column;
                    align-items: center;
                    border-bottom: 1.5px lightgray;
                    border-bottom-style: solid;
                    border-right-style: hidden;

                    .article-title {
                        font-size: 24px;
                    }

                    .rest-of-article-wrapper {
                        flex-direction: column;
                        .article-thumbnail {width: 100%;}
                        .rest-of-article-text {
                            width: 100%;
                            padding: 0px;
                        }
                    }
                }

                .article-with-video {margin: 0px;}

                .fullrow-article {
                    .article {
                        .article-title {
                            font-size: 28px;
                        }
                    }
                }

                .small-article {
                    .article{align-items: flex-start;}
                    .rest-of-article-wrapper {width: 100%;}
                }
            }
        }

        #menu-panel {
            //TODO add another menu for sezione and an arrow, also add a search icon
            //make font bigger
            #menu-header {
                justify-content: space-between;

                #menu-search-icon {
                    display: block;
                    //filter is used to change the color of the svg image
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(105%) contrast(104%);
                }
                #menu-search-icon:hover {
                    cursor: pointer;
                }
            }

            #home-link-menu{
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
                border-bottom: 1.5px white;
                border-bottom-style: solid;
                font-size: 20px;
            }

            #menu-panel-col-wrapper {
                flex-direction: column;
                align-items: center;
                .menu-panel-col {
                    width: 100%;
                    margin: 0px;
                    li{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        padding-bottom: 20px;
                        border-bottom: 1.5px white;
                        border-bottom-style: solid;
                        font-size: 20px;

                        #sezioni-open-button {display:block;}
                        #sezioni-open-button:hover {cursor: pointer;}
                    }
                    li:has(> .menu-topic){
                        display: none;
                    }
                }
            }

            #menu-footer {
                flex-direction: column;
                align-items: center;

                #menu-footer-links {
                    flex-direction: column;
                    align-items: center;
                    height: 50%;
                    border-bottom-style: hidden;
                    overflow-y: scroll;
                    /*would have hidden the scrollbar for aesthetic purposes, but without it it doesn't look scrollable
                    -ms-overflow-style: none;
                    scrollbar-width: none;*/
                    li {
                        padding: 10px;
                        padding-bottom: 0px;
                        a {
                            font-size: 18px;
                        }
                    }
                }
                #menu-footer-social {display: none;}
                #menu-subscribe-button{
                    margin: 0px;
                    padding: 10px;
                    h5 {font-size: 20px;}
                }
            }
        }
    }

    
    footer{
        #footer-content{
            max-width: 100%;
            #footer-links {
                flex-direction: column;
                align-items: center;
                padding: 0px 15px;
                li {padding: 10px;}
            }
        }
    }
}