$background-color: white;
$ad-coloumn-bg-color: lightgray;
$main-content-highlight-color: #8c0404;
$main-width: 1050px;
$small-font-size: 12px;


body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    font-weight: 200;
    //Playfair Display will be the main font and Times New Roman is the fallback
    font-family: 'Playfair Display', 'Times New Roman';
    overflow: auto;
}

.disclaimer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    position: sticky;
    top: 0;
    min-width: 100%;
    height: 20px;
    background-color: black;
    color: white;

    a, a:visited {
        text-decoration: none;
        color: blue;
    }
}

main {
    display: flex;
    justify-content: center;
    min-height: 100vh; /*100vh means 100% of viewport height*/
    background-color: $ad-coloumn-bg-color;

    /*FIXME footer-content doesn't align perfectly when the screen is almost shrunk enough to change display none to the ad-columns.
    Actually the problem seems to be that the main column is shrunk when around 820px of page width for some reason*/
    #main-column {
        display: flex;
        flex-direction: column;
        width: $main-width;
        margin: 0;
        border: 0;
        padding: 15px;
        background-color: $background-color;
    
        header {
            position: sticky;
            display: flex;
            flex-direction: row;
            //FIXME space around fixes navbar overflowing to the right, but makes the subscribe div slightly too central
            justify-content: space-around;
            //FIXME there is literally one pixel too much when the page scrolls down
            top: 30px;
            height: 120px;
            background-color: white;
            color: black;
        
            

            #subscribe-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 30%;
                font-size: 12px;

                //FIXME justify content center doesn't work on github pages
                #subscribe-button {
                    display: flex;
                    justify-content: center;
                    padding: 10px 20px;
                    width: 50%;
                    background-color: #8e0000;
                    color: white;
                    text-decoration: none;
                }

                #subscribe-button:hover {
                    background-color: #5c0000;
                }
            }

            #logo-link {
                display: flex;
                justify-content: flex-end;
                max-width: 35%;
                height: auto;
                padding-left: 10px;
                padding-right: 10px;
            
                #header-logo {
                    max-height: 100%;
                    height: auto;
                    display: block;
                    padding: 5px;
                }
            }

            //FIXME navbar is slightly too much to the right, possible fix may be to wrap the logo and the navbar in a single div to better use space around
            #navbar {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                list-style-type: none;
                font-size: 12px;
                width: 30%;
                margin: 0px;
                padding: 0px;

                    li {
                        padding: 5px;

                        a {
                            text-decoration: none;
                            color: gray;
                    }
                        #open-menu-button:hover {
                            cursor: pointer;
                        }
                }
            }
        }

        /*TODO this div doesn't display on mobile*/
        #header-director-and-update {
            display: flex;
            flex-flow: row;
            justify-content: space-between;

            p {
                padding: 10px;
                font-size: 15px;
            }
        }

        #home-before-content {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            margin: 0px;

                .daily-topics>ul, ul {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: space-around;
                    list-style-type: none;

                    li {
                        margin: 5px;
                        
                        a {
                            color: black;
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
        }

        .daily-topics {
            display: flex;
            flex-flow: row;
        }

        #main-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            #FQExtra{
                width: 100%;

                #FQExtra-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 15px;
                    padding: 5px;
                    background-color: red;
                    color: white;
                    max-height: 20px;
                    font-size: 18px;

                        h4{
                            margin: 0px;
                            padding: 5px;
                            font-weight: normal;

                            a  {
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }

                #FQExtra-carousel {
                    //TODO add a custom scrollbar, especially making it hidden when the user isn't scrolling
                    display: flex;
                    flex-direction: row;
                    background-color: #413d3b;
                    overflow-x: scroll;

                    .FQExtra-article {
                        display: flex;
                        flex-direction: row;
                        min-width: 50%;
                        text-decoration: none;
                        
                        .FQExtra-article-text {
                            padding: 15px 30px;
                            
                            .FQExtra-article-topic {
                                color: red;
                                margin: 15px 0px;
                            }

                            .FQExtra-article-title {
                                color: white;
                                margin: 15px 0px;
                            }
                        }
                    }
                }
            }
            .article {
                width: 65%;
                height: auto;
                border-right: 2.5px lightgray;
                border-right-style: solid;
                padding: 5px;
                margin: 10px;

                .article-title {
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 32px;
                }
                .article-title:hover {
                    text-decoration: underline;
                }

                .rest-of-article-wrapper {
                    display: flex;
                    padding: 10px 0px;
                    
                    a {
                        text-decoration: none;
                        color: black;
                    }
                    a:hover {
                        text-decoration: underline;
                    }

                    .article-thumbnail {
                        width: 50%;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .rest-of-article-text {
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        padding: 0px 10px;                        

                        .article-info-wrapper {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                color: lightgray;
                                margin-top: 0px;
                            }

                        }

                        .related-article {
                            padding: 5px;
                        }
                    }
                }
            }

            .fullrow-article {
                width: 100%;

                .article {
                    width: 100%;

                    .article-title {
                        font-size: 42px;
                    }

                    .article-excerpt {
                        font-size: 18px;
                        color: black;
                        p {
                            margin-top: 0px;
                        }
                    }

                    .article-thumbnail {
                        width: 65%;
                    }

                    .rest-of-article-text {
                        width: 30%;
                    }
                }
            }

            .article-with-video {
                display: flex;
                flex-direction: column;
                width: 30%;
                margin: 10px;
                background-color: $ad-coloumn-bg-color;

                a {
                    width: 100%;
                    text-decoration: none;
                    color: black;
                }

                a:hover {
                    text-decoration: underline;
                }

                p, h3 {
                    padding: 0px 10px;
                }

                p {
                    color: #8e0000;
                }

                img {
                    width: 100%;
                }
            }
        }        
        /*Not so sure why this is here
        .main-content {
            padding: 10px;
            font-size: 25px;
            font-family: tt norms medium;
        }*/
    }

    #menu-panel {
        display: none;
        background-color: black;
        width: $main-width;
        max-height: 100vh;
        padding: 10px;
        overflow-y: auto;
        color: white;

        #menu-header {
            display: flex;
            justify-content: flex-end;

            #close-menu-icon {
                //filter is used to change the color of the svg image
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(105%) contrast(104%);
                padding: 10px;
            }

            #close-menu-icon:hover {
                cursor: pointer;
            }
        }
        #home-link-menu {
            text-decoration: none;
            color: white;
            padding-left: 15px;
        }
        #menu-panel-col-wrapper {
            display: flex;
            flex-direction: row;
            column-gap: 100px;

            .menu-panel-col {
                list-style-type: none;
                padding-left: 15px;

                li {
                    padding-top: 10px;
                    padding-bottom: 10px;

                    a {
                        text-decoration: none;
                        color: white;
                    }

                    .menu-topic {
                        //color taken directly from inspect element
                        color: hsla(0,0%,100%,.7);
                    }
                    
                    .menu-topic:hover {
                        color: hsla(0, 0%, 100%, 0.4);
                    }
                }
            }
        }
    }
}
footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;

    .footer-content {
        width: $main-width;
        padding: 15px;
        background-color: #191919;
    }
}

//IMPORTANT! Make media quearies with as nested as the rest of the scss code or else it won't have enough priority to apply the proper properties
@media (max-width: 1150px) {
    main {
        #main-column, #menu-panel {
            max-width: 100%;
        }
    }
    footer{
        .footer-content{
            max-width: 100%;
        }
    }
}