body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  font-weight: 200;
  font-family: "Playfair Display", "Times New Roman";
  overflow: auto;
}

.disclaimer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  position: sticky;
  top: 0;
  min-width: 100%;
  height: 20px;
  background-color: black;
  color: white;
}
.disclaimer a, .disclaimer a:visited {
  text-decoration: none;
  color: blue;
}

main {
  display: flex;
  flex-flow: row;
  min-height: 100vh; /*100vh means 100% of viewport height*/
  /*FIXME footer-content doesn't align perfectly when the screen is almost shrunk enough to change display none to the ad-columns.
  Actually the problem seems to be that the main column is shrunk when around 820px of page width for some reason*/
}
main .ad-column {
  flex-grow: 1;
  margin: 0;
  border: 0;
  padding: 10px;
  background-color: lightgray;
  display: block;
}
main #main-column {
  width: 1050px;
  flex-grow: 0;
  margin: 0;
  border: 0;
  padding: 15px;
  background-color: white;
  /*TODO this div doesn't display on mobile*/
}
main #main-column header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 30px;
  max-height: 160px;
  width: 1050px;
  background-color: white;
  color: black;
}
main #main-column header #subscribe-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  font-size: 12px;
}
main #main-column header #subscribe-box #subscribe-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #8e0000;
  color: white;
  text-decoration: none;
}
main #main-column header #subscribe-box #subscribe-button:hover {
  background-color: #5c0000;
}
main #main-column header #logo-link {
  display: flex;
  justify-content: flex-end;
  max-width: 35%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
main #main-column header #logo-link #header-logo {
  max-height: 100%;
  height: auto;
  display: block;
  padding: 5px;
}
main #main-column header #navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  font-size: 12px;
  width: 40%;
  margin: 0px;
  padding: 0px;
}
main #main-column header #navbar li {
  padding: 10px;
}
main #main-column header #navbar li a {
  text-decoration: none;
  color: gray;
}
main #main-column header #navbar li #open-menu-button:hover {
  cursor: pointer;
}
main #main-column #header-director-and-update {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
main #main-column #header-director-and-update p {
  padding: 10px;
  font-size: 15px;
}
main #main-column #home-before-content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0px;
}
main #main-column #home-before-content .daily-topics > ul, main #main-column #home-before-content ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
main #main-column #home-before-content .daily-topics > ul li, main #main-column #home-before-content ul li {
  margin: 5px;
}
main #main-column #home-before-content .daily-topics > ul li a, main #main-column #home-before-content ul li a {
  color: black;
  text-decoration: none;
}
main #main-column #home-before-content .daily-topics > ul li a:hover, main #main-column #home-before-content ul li a:hover {
  text-decoration: underline;
}
main #main-column .daily-topics {
  display: flex;
  flex-flow: row;
}
main #main-column #main-content #FQExtra #FQExtra-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
  background-color: red;
  color: white;
  max-height: 20px;
  font-size: 18px;
}
main #main-column #main-content #FQExtra #FQExtra-header h4 {
  margin: 0px;
  padding: 5px;
  font-weight: normal;
}
main #main-column #main-content #FQExtra #FQExtra-header h4 a {
  text-decoration: none;
  color: white;
}
main #main-column #main-content #FQExtra #FQExtra-carousel {
  display: flex;
  flex-direction: row;
  background-color: #413d3b;
  overflow-x: scroll;
}
main #main-column #main-content #FQExtra #FQExtra-carousel .FQExtra-article {
  display: flex;
  flex-direction: row;
  min-width: 50%;
  text-decoration: none;
}
main #main-column #main-content #FQExtra #FQExtra-carousel .FQExtra-article .FQExtra-article-text {
  padding: 15px 30px;
}
main #main-column #main-content #FQExtra #FQExtra-carousel .FQExtra-article .FQExtra-article-text .FQExtra-article-topic {
  color: red;
  margin: 15px 0px;
}
main #main-column #main-content #FQExtra #FQExtra-carousel .FQExtra-article .FQExtra-article-text .FQExtra-article-title {
  color: white;
  margin: 15px 0px;
}
main #main-column #main-content .article {
  max-width: 60%;
  height: auto;
  border-right: 2.5px lightgray;
  border-right-style: solid;
  padding: 5px;
  margin: 10px;
}
main #main-column #main-content .article .article-title {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
}
main #main-column #main-content .article .article-title:hover {
  text-decoration: underline;
}
main #main-column #main-content .article .rest-of-article-wrapper {
  display: flex;
}
main #main-column #main-content .article .rest-of-article-wrapper a {
  text-decoration: none;
  color: #8c0404;
}
main #main-column .main-content {
  padding: 10px;
  font-size: 25px;
  font-family: tt norms medium;
}
main #menu-panel {
  display: none;
  background-color: black;
  width: 1050px;
  max-height: 100vh;
  padding: 10px;
  overflow-y: auto;
  color: white;
}
main #menu-panel #menu-header {
  display: flex;
  justify-content: flex-end;
}
main #menu-panel #menu-header #close-menu-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(317deg) brightness(105%) contrast(104%);
  padding: 10px;
}
main #menu-panel #menu-header #close-menu-icon:hover {
  cursor: pointer;
}
main #menu-panel #home-link-menu {
  text-decoration: none;
  color: white;
  padding-left: 15px;
}
main #menu-panel #menu-panel-col-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
}
main #menu-panel #menu-panel-col-wrapper .menu-panel-col {
  list-style-type: none;
  padding-left: 15px;
}
main #menu-panel #menu-panel-col-wrapper .menu-panel-col li {
  padding-top: 10px;
  padding-bottom: 10px;
}
main #menu-panel #menu-panel-col-wrapper .menu-panel-col li a {
  text-decoration: none;
  color: white;
}
main #menu-panel #menu-panel-col-wrapper .menu-panel-col li .menu-topic {
  color: hsla(0, 0%, 100%, 0.7);
}
main #menu-panel #menu-panel-col-wrapper .menu-panel-col li .menu-topic:hover {
  color: hsla(0, 0%, 100%, 0.4);
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color: black;
  color: white;
}
footer .footer-content {
  width: 1050px;
  padding: 15px;
  background-color: darkslategray;
}

@media (max-width: 1150px) {
  main .ad-column {
    display: none;
  }
  main #main-column, main #menu-panel {
    max-width: 100%;
  }
  footer .footer-content {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
