body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
}

.disclaimer {
  display: flex;
  justify-content: center;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  position: sticky;
  top: 0;
  min-width: 100%;
  background-color: black;
  color: white;
  height: 20px;
}
.disclaimer a, .disclaimer a:visited {
  text-decoration: none;
  color: blue;
}

main {
  display: flex;
  flex-flow: row;
  min-height: 100vh; /*100vh means 100% of viewport height*/
}

/*NOTE: in the original site, when the windows is shrunk on a desktop, the right hand column still remains visible on the page
 but the left one doesnt. I didn't implement this "feature"*/
.ad-column {
  flex-grow: 1;
  margin: 0;
  border: 0;
  padding: 10px;
  background-color: lightgray;
}

/*FIXME footer-content doesn't align perfectly when the screen is almost shrunk enough to change display none to the ad-columns.
Actually the problem seems to be that the main column is shrunk when around 820px of page width for some reason*/
#main-column {
  width: 1000px;
  flex-grow: 0;
  margin: 0;
  border: 0;
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: sticky;
  padding: 10px;
  top: 30px;
  max-height: 160px;
  background-color: white;
  color: black;
}

#header-logo {
  max-width: 40%;
  height: auto;
  /*FIXME make logo clip over the navbar on the upper right*/
}

#subscribe-box {
  min-width: 250px;
  font-size: 12px;
}

#subscribe-button {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #8e0000;
  color: white;
  text-decoration: none;
}

#subscribe-button:hover {
  background-color: #430000;
}

#navbar-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 12px;
  /*-n selects the items from the beginning (not semantically a minus) and +3 means up to the third child*/
}
#navbar-links li > a {
  padding: 2px;
  text-decoration: none;
  color: gray;
}
#navbar-links:nth-child(4) > a {
  color: red;
}

/*TODO this div doesn't display on mobile*/
#header-director-and-update {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
#header-director-and-update p {
  padding: 10px;
  font-size: 15px;
}

#home-before-content {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0px;
}
#home-before-content .daily-topics > ul, #home-before-content ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
#home-before-content .daily-topics > ul li, #home-before-content ul li {
  margin: 5px;
}

.daily-topics {
  display: flex;
  flex-flow: row;
}

#FQExtra-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  padding: 5px;
  background-color: red;
  color: white;
}
#FQExtra-header h4 {
  margin: 0px;
  padding: 5px;
  font-weight: normal;
}
#FQExtra-header h4 a {
  text-decoration: none;
  color: white;
}

.main-content {
  padding: 10px;
  font-size: 25px;
  font-family: tt norms medium;
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  background-color: black;
  color: white;
}

.footer-content {
  width: 1000px;
  flex-grow: 0;
  background-color: darkslategray;
}

@media screen and (max-width: 1000px) {
  .ad-column {
    display: none;
  }
  .main-column, .footer-content {
    min-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
